/* __FONTS */
$google-font-text: Inter;
$google-font-display: Messapia;
$google-font-mono: Roboto Mono;

@import url('https://fonts.googleapis.com/css2?family=#{$google-font-text}:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=#{$google-font-mono}:wght@400;600;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=#{$google-font-display}:wght@400;900&display=swap');

@font-face {
    font-family: $google-font-display;
    src: url("../fonts/#{$google-font-display}-Bold.woff2") format("woff2"),
         url("../fonts/#{$google-font-display}-Bold.woff") format("woff");
}

/* __VARIABLES */
$font-text: $google-font-text, sans-serif;
$font-display: $google-font-display, serif;
$font-mono: $google-font-mono, Courier New;

$radius: 6px;
$transition: .3s ease-in-out;

$col-white: #fff;
$col-black: #1c1c1c;
$col-lightgrey: #d0d0d0;
$col-grey: #777777;
$col-darkgrey: #3c3c3c;
$col-black-opacity: adjust-color($col-black, $alpha: -.7);
$col-primary: #3969da;
$col-secondary: #954aec;
$col-tertiary: #ef50e4;

$filter-bw: grayscale(1) brightness(0.5);

/* __MAIN STYLE */
#gny-network {
    width: 80%;
    max-width: 700px;
    box-sizing: border-box;
    margin: auto;
    backdrop-filter: invert(100%);
    font-family: $font-text;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: $col-white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: $radius;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/topography.webp');
        filter: invert(80%);
        border-radius: $radius;
    }

    * {
        box-sizing: border-box;
    }

    > div {
        position: relative;
    }

    gnytitle {
        font-family: $font-display;
        margin: 0.5rem 0;
        display: inline-block;

        &:before {
            content: "\f6cb";
            font-family: 'Phosphor';
            font-size: 1.2rem;
            margin-right: 5px;
            color: $col-primary;
        }
    }

    sep {
        display: block;
        width: 100%;
        height: 1px;
        background: $col-darkgrey;
        margin: 5px 0;
    }

    .window-top {
        width: 100%;
        padding: 0.2rem 0.5rem;
        background: $col-black;
        border-radius: $radius $radius 0 0;
        font-family: $font-mono;
        font-size: 0.7rem;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
    }

    .window {
        border-radius: $radius;
        background: $col-black-opacity;
        backdrop-filter: blur(1px);
        border: 1px solid $col-black;
    }

    .main {
        width: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .nav {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 2rem;

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;

                > i {
                    font-size: 2.5rem;
                }

                > span {
                    font-family: $font-mono;
                }
            }

            div:nth-of-type(1) i {
                color: $col-primary;
            }

            div:nth-of-type(2) i {
                color: $col-secondary;
            }

            div:nth-of-type(3) i {
                color: $col-tertiary;
            }
        }

        .image-stats {
            width: 100%;
            height: 70px;
            filter: $filter-bw;
            background-position: center;
            background-size: cover;
        }

        .stats {
            display: flex;
            gap: 1.5rem;

            .infos {
                flex: 1 1 0px;
            }

            .charts {
                flex: 1 1 0px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: flex-start;
                gap: 1.5rem 2.5rem;

                .profile {
                    width: 100%;

                    .nametag {
                        padding: 1rem;
                        display: flex;
                        flex: auto;
                        justify-content: space-around;
                        align-items: center;
                        gap: 1rem;

                        img {
                            max-width: 25%;
                            aspect-ratio: 1 /1;
                            object-fit: cover;
                            filter: $filter-bw drop-shadow(0 0 15px $col-primary);
                            border-radius: 100vh;
                        }

                        .name {
                            h1 {
                                margin: 0;
                                line-height: 1.2;
                                text-align: center;
                                font-size: 1.3rem;
                                font-family: $font-display;
                                text-shadow: 3px 0 0 $col-black;
                            }

                            .level {
                                color: $col-lightgrey;
                                text-transform: uppercase;
                                font-family: $font-mono;
                                font-size: 0.8rem;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .healthbars {
                    display: grid;
                    grid-template-columns: auto 80%;
                    padding: 1rem;

                    .bartag {
                        font-weight: 600;
                    }

                    .bar {
                        --percentage: 50%;
                        --color: #{$col-primary};
                        $bar-border: 3px;
                        $bar-color: $col-black;

                        width: 90%;
                        height: 10px;
                        background: $col-black-opacity;
                        margin: auto;
                        position: relative;
                        box-shadow: -#{$bar-border} 0 0 0 $bar-color, $bar-border 0 0 0 $bar-color, 0 -#{$bar-border} 0 0 $bar-color,0 $bar-border 0 0 $bar-color;
                        
                        .bar-percentage {
                            width: var(--percentage);
                            height: 100%;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: var(--color);
                        }
                    }
                }

                .one-stat {
                    font-family: $font-display;
                    text-align: center;
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
    
                    .pie {
                        --percentage: 50;
                        --color: #{$col-secondary};
                        $pie-wid: 100%;
                        $pie-bor: 14px;
                        
                        aspect-ratio: 1;
                        position: relative;
                        display: inline-grid;
                        place-content: center;
                        font-family: $font-mono;
                        font-size: 1.2rem;
    
                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            border-radius: 50%;
                        }
    
                        &:before {
                            inset: 0;
                            background:
                                radial-gradient(farthest-side, var(--color) 98%,#0000) top/$pie-bor $pie-bor no-repeat,
                                conic-gradient(var(--color) calc(var(--percentage)*1%), #0000 0);
                            -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - $pie-bor), #000 calc(100% - $pie-bor));
                                mask: radial-gradient(farthest-side, #0000 calc(99% - $pie-bor), #000 calc(100% - $pie-bor));
                            background-size: 0 0, auto;
                        }
    
                        &:after {
                            content: none;
                            inset: calc(50% - $pie-bor/2);
                            background: var(--color);
                            transform: rotate(calc(var(--percentage)*3.6deg)) translateY(calc(50% - $pie-wid/2));
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        margin: 0 1rem 1rem 1rem;
    }
}