@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:400,700,900&display=swap');

#ciel {
  --c3: #a0d3d8;
  --c4: #f4c8d1;
  --f1: 'Playfair Display';
  --f2: 'Roboto';
  --gradient3: linear-gradient(90deg, var(--c3), var(--c4));
  --gradient4: linear-gradient(90deg, var(--c4), var(--c3));
  --gradient5: linear-gradient(180deg, var(--c3), var(--c4));
  --gradient6: linear-gradient(180deg, var(--c4), var(--c3));
  --gradient7: linear-gradient(45deg, var(--c4), var(--c3));
}

#ciel {
  width: 500px;
  background: whitesmoke;
  font-family: var(--f2);
  font-size: 11px;
  color: black;
  margin: auto;
  border: 1px solid gainsboro;
  line-height: 13px !important;
}

#ciel div {
  box-sizing: border-box;
}

#ciel .top {
  width: 100%;
  padding-bottom: 70px;
  background: var(--gradient7);
}

#ciel .top .gif {
  width: 35%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: left;
}

#ciel .top .gif img {
  width: 75%;
  height: 65%;
  object-fit: cover;
  filter: grayscale(1);
  border: 7px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 1px white;
}

#ciel .top .titr {
  width: 65%;
  height: 120px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: var(--f1);
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  line-height: 1.15;
}

#ciel .top .titr sp {
  color: black;
  margin-left: 5px;
  font-style: italic;
  text-decoration: underline dashed var(--c4);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#ciel .top .sub {
  width: 75%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  color: black;
  font-family: var(--f2);
}

#ciel .bot {
  width: 100%;
  text-align: center;
  margin-top: -80px;
}

#ciel .bot .lien {
  width: 90%;
  height: 90px;
  margin: 7px auto;
  display: flex;
  border-radius: 4px;
  border: 1px solid gainsboro;
}

#ciel .bot .lien .txt {
  width: 80%;
  border-radius: 4px 0 0 4px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ciel .bot .lien .txt .cadre {
  width: 95%;
  height: 85%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

#ciel .bot .lien .txt .cadre .title {
  background: white;
  border-radius: 4px 4px 0 0;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
}

#ciel .bot .lien .txt .cadre .descr {
  padding: 5px;
  height: 75%;
  overflow: auto;
  line-height: 17px!important;
}

#ciel .bot .lien .icon {
  width: 20%;
  background: white;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ciel .bot .lien .icon img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  filter: grayscale(1);
  border-radius: 100px;
  background: var(--gradient5);
  padding: 6px;
}

#ciel ::-webkit-scrollbar {
  display: none;
}
