@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&display=swap");

:root {
  --maincolor: crimson;
}

#nature {
  width: 450px;
  height: 450px;
  font-family: "Roboto";
  position: relative;
  margin: 20px auto;
  color: black;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#nature .icon {
  background: var(--maincolor);
  width: 70px;
  height: 70px;
  padding: 20px;
}

#nature .icon cor {
  display: block;
  width: 90px;
  position: absolute;
  top: 10px;
  left: 10px;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid white;
    border-width: 1px 0 0 1px;
    top: 0;
    left: 0;
  }

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid white;
    border-width: 1px 1px 0 0;
    top: 0;
    right: 0;
  }
}

#nature .icon img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  box-sizing: border-box;
  border: 3px solid white;
  box-shadow: 0 0 0 1px black;
}

#nature .icon cor2 {
  display: block;
  width: 90px;
  position: absolute;
  top: 90px;
  left: 10px;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid white;
    border-width: 0 0 1px 1px;
    top: 0;
    left: 0;
  }

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    top: 0;
    right: 0;
  }
}

#nature input {
  display: none;
}

#nature input:checked+label {
  font-weight: 700;
  font-style: italic;
  color: var(--maincolor);
  background: whitesmoke;
  border-bottom: 1px solid grey;

  &:before {
    content: '\ec56';
    font-family: 'honeybee';
    font-style: normal;
  }
}

#nature label {
  display: block;
  box-sizing: border-box;
  width: 110px;
  background: white;
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid gainsboro;
  transition: background 0.4s ease-in-out;

  &:before {
    content: '\ec56';
    font-family: 'honeybee';
    font-size: 6px;
    margin-right: 4px;
    position: relative;
    bottom: 10%;
  }

  &:hover {
    cursor: crosshair;
    background: whitesmoke;
  }
}

#nature .quot {
  width: 110px;
  height: 146px;
  background: black;
  text-align: center;
  line-height: 150px;
  color: whitesmoke;
  font-size: 10px;
  text-transform: uppercase;
}

#nature .quot span {
  width: 90px;
  vertical-align: middle;
  display: inline-block;
  line-height: 10px;

  &:before {
    content: "❝";
    position: relative;
    top: 8px;
    color: var(--maincolor);
    font-size: 30px;
  }
}

#nature .name {
  background: none;
  border-top: 1px solid var(--maincolor);
  border-bottom: 1px solid gainsboro;
  width: calc(100% - 110px);
  height: 110px;
  box-sizing: border-box;
  padding: 35px 0;
  text-align: center;

  &:before {
    content: "<";
    font-family: 'Arial';
    font-size: 20px;
    color: silver;
    font-weight: 700;
    margin-right: 9px;
  }

  &:after {
    content: ">";
    font-family: 'Arial';
    font-size: 20px;
    color: silver;
    font-weight: 700;
    margin-left: 9px;
  }
}

#nature .name y {
  font-size: 27px;
  font-style: italic;
  font-weight: 700;
  border-bottom: 1px dashed var(--maincolor);
  font-family: 'Times';
}

#nature .tabs {
  width: calc(100% - 110px);
  height: calc(100% - 110px);
  background: whitesmoke;
  box-sizing: border-box;
  border-right: 1px solid var(--maincolor);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

#nature .tabs .content {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 20px;
  transition: 1.5s ease-in-out;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  background: white;
  padding: 10px;
  overflow: auto;
}

#nature #n1:checked+label~.tabs .content:nth-child(1) {
  top: 0%;
}

#nature #n1:checked+label~.tabs .content:nth-child(2) {
  top: 100%;
}

#nature #n1:checked+label~.tabs .content:nth-child(3) {
  top: 200%;
}

#nature #n1:checked+label~.tabs .content:nth-child(4) {
  top: 300%;
}

#nature #n2:checked+label~.tabs .content:nth-child(1) {
  top: -100%;
}

#nature #n2:checked+label~.tabs .content:nth-child(2) {
  top: 0%;
}

#nature #n2:checked+label~.tabs .content:nth-child(3) {
  top: 100%;
}

#nature #n2:checked+label~.tabs .content:nth-child(4) {
  top: 200%;
}

#nature #n3:checked+label~.tabs .content:nth-child(1) {
  top: -200%;
}

#nature #n3:checked+label~.tabs .content:nth-child(2) {
  top: -100%;
}

#nature #n3:checked+label~.tabs .content:nth-child(3) {
  top: 0%;
}

#nature #n3:checked+label~.tabs .content:nth-child(4) {
  top: 100%;
}

#nature #n4:checked+label~.tabs .content:nth-child(1) {
  top: -300%;
}

#nature #n4:checked+label~.tabs .content:nth-child(2) {
  top: -200%;
}

#nature #n4:checked+label~.tabs .content:nth-child(3) {
  top: -100%;
}

#nature #n4:checked+label~.tabs .content:nth-child(4) {
  top: 0%;
}

#nature .tabs #idc {
  text-align: center;
}

#nature .tabs #idc img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 100%;
}

#nature .tabs .content .title {
  border-bottom: 1px solid var(--maincolor);
  width: 100%;
  position: relative;
  margin: 25px 0 15px 0;
}

#nature .tabs .content .title x {
  background: var(--maincolor);
  text-shadow: 0 1px 1px black;
  font-family: 'Arial';
  font-style: normal;
  letter-spacing: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 1px 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#nature .tabs .content .info {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 0 5px 10px 5px;
  font-size: 12px;
  font-family: 'Times';
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  color: var(--maincolor);
  border-bottom: 1px solid gainsboro;
  padding-bottom: 5px;
}

#nature .tabs .content .info z {
  font-family: 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  line-height: 7px;
}

#nature .tabs #per {
  text-align: center;
  font-family: 'Times';
  letter-spacing: 4px;
  text-transform: lowercase;
  font-style: italic;
  font-size: 11px;
  font-weight: 700;
}

#nature .tabs #per img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  box-sizing: border-box;
  border: 5px solid white;
  outline: 1px solid grey;
  filter: grayscale(1) brightness(1.2);
  margin-bottom: 10px;
}

#nature .tabs #per .progress {
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  height: 10px;
  width: 80%;
  background: gainsboro;
  margin-bottom: 10px;
}

#nature .tabs #per .progress .bar {
  background: var(--maincolor);
  height: 100%;
}

#nature ::-webkit-scrollbar {
  width: 6px;
}

#nature ::-webkit-scrollbar-thumb {
  border: 1px solid grey;
}

#nature ::-webkit-scrollbar-track {
  border: 1px solid white;
}
